<article>
    <div>
        <h3 class="cafeName"> {{cafe_name}} </h3> 
        <p>City:<span class="cafeName"> {{city_name}}</span> </p>
        <p> Posted by <span class="cafeName">{{user.username}}</span> on {{format_date created_at}} </p>
    </div>
</article>
