<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Book&Beans</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

{{!-- styling --}}

    <link rel="stylesheet-css" href="./public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- favicon addition -->

    <a href="https://iconscout.com/icons/beans" target="_blank">Beans Icon</a> by <a href="https://iconscout.com/contributors/aomam">AomAm .</a> on <a href="https://iconscout.com">IconScout</a>

</head>


<!-- entire site -->
<body>

    <h1>This is the backup page :)</h1>
    {{{body}}}
</body>
<script src="./public/js/script.js"></script>

{{!-- scss plugs --}}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init()</script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</html>