<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <title>Book&Beans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet-css" href="./public/style.css">
    <script src="handlebars-v4.7.7.js"></script>
    <!-- favicon addition -->
    <a href="https://iconscout.com/icons/beans" target="_blank">Beans Icon</a> by <a href="https://iconscout.com/contributors/aomam">AomAm .</a> on <a href="https://iconscout.com">IconScout</a>

</head>


<!-- entire site -->
<body>
    {{{body}}}
</body>
</html>