<section>
    <h2>Add Coffee Shop</h2>

    <form class="new-coffee-form">
        <div>
            <label for="cafe-name">Coffee Shop Name</label>
            <input type="text" id="cafe-name" name="cafe-name" />
        </div>
        <div>
            <label for="city-name">Coffee Shop Address</label>
            <input id="city-name" name="city-name" />
        </div>
    <button type="submit" class="btn">Create</button>
    </form>
</section>

<section>
    <h2>Your Added Coffee Shop</h2>
    <ol>
        {{#each shops as |coffeeShop|}}
        <li>
        {{> coffee-info coffeeShop}}
        <a href="/coffeeshops/edit/{{coffeeShop.id}}" class="edit-link">Edit Coffee Shop</a>
        </li>
        {{/each}}
    </ol>
</section>

<script src="/javascript/add-cafe.js"></script>