<div class="container">
<div class="row justify-content-between">
<div class="col-5">
<section>   
    <h2 class="addCoffee">Add Coffee Shop</h2>

    <form class="new-coffee-form">
        <div class="cafeName mb-3">
            <label for="cafe-name">Coffee Shop Name:</label>
            <input type="text" id="cafe-name" name="cafe-name" />
        </div>
        <div class="cafeAddress mb-3">
            <label for="city-name">Coffee Shop City:</label>
            <select class="p-1" name="city-name">
                <option selected> Choose your city</option>
                <option value="Ottawa">Ottawa</option>
                <option value="Toronto">Toronto</option>
                <option value="Windsor">Windsor</option>
                <option value="Waterloo">Waterloo</option>
            </select>
        </div>
    <button type="submit" class="button">Create</button>
    </form>
    </div>
</section>

<div class="col-5">
<section>
    <h2 class="addCoffee">Your Added Coffee Shop</h2>
    <ol>
        {{#each shops as |coffeeShop|}}
        <li class="coffeeList">
        {{> coffee-info coffeeShop}}
            <button type="button" class="delete-post-btn" name="delete-cafe" value={{coffeeShop.id}}>Delete post</button>
        </li>
        {{/each}}
    </ol>
</section>
</div>
</div>

<script src="/javascript/delete-cafe.js"></script>
<script src="/javascript/add-cafe.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}