<section>
    <h2>Add Coffee Shop</h2>

    <form class="new-post-form">
        <div>
            <label for="post-name">Coffee Shop Name</label>
            <input type="text" id="post-name" name="post-name" />
        </div>
        <div>
            <label for="post-address">Coffee Shop Address</label>
            <input id="post-address" name="post-address" />
        </div>
    <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if coffee.length}}
<section>
    <h2>Your Added Coffee Shop</h2>
    <ol>
        {{#each coffeePosts as |coffeePost|}}
        <li>
        {{> coffee-info coffeePost}}
        <a href="/coffeeshops/edit/{{coffeePost.id}}" class="edit-link">Edit Coffee Shop</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-cafe.js"></script>