<ol class="coffee-list">
  {{#each coffeePosts as |coffeePost|}}
  <li>
    {{> coffee-info coffeePost }}
  </li>
  {{/each}}
</ol>

<ol class="book-list">
  {{#each booksPosts as |bookPost|}}
  <li>
    {{> book-info bookPost }}
  </li>
  {{/each}}
