<div class="container">
  <div class="row">
  <div class="col-md-5">
<h6>Coffee Shop List</h6>
<ol class="coffee-list">
  {{#each coffeePosts as |coffeePost|}}
  <ol>
    {{> coffee-info coffeePost }}
  </ol>
  {{/each}}
</ol>
</div>

<div class="col-md-7">
<h6>Book Club List</h6>
<ol class="book-list">
  {{#each booksPosts as |bookPost|}}
  <ol>
    {{> book-info bookPost }}
  </ol>
  {{/each}}
</div>
</div>
