<h6>Coffee Shops</h6>
<ol class="coffee-list">
  {{#each coffeePosts as |coffeePost|}}
  <li>
    {{> coffee-info coffeePost }}
  </li>
  {{/each}}
</ol>

<h6>Book Clubs</h6>
<ol class="book-list">
  {{#each booksPosts as |bookPost|}}
  <li>
    {{> book-info bookPost }}
  </li>
  {{/each}}
