<section>
    <h2>Add Book Club</h2>

    <form class="new-post-form">
        <div>
            <label for="post-book">Book Club Name</label>
            <input type="text" id="post-book" name="post-book" />
        </div>
        <div>
            <label for="post-meetup">Book Club Meetup</label>
            <input id="post-meetup" name="post-meetup" />
        </div>
    <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Added Book Clubs</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Book Club</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>