 
<div class="container">
    <div class="row justify-content-between">
        <div class="col-5">
            <h2 class="my-4 p-2 fw-bolder fs-1">Coffee Shops</h2>
            <ul class="list-group border border-3 border-light rounded shadow-lg">
                {{#each coffeePosts as |coffeePost|}}
                <li  class="list-group-item list-bg text-white border-white">
                    {{> coffee-info coffeePost }}
                </li>
                {{/each}}
            </ul>
        </div> 

        <div class="col-5">
            <h2 class="my-4 p-2 fw-bolder fs-1">Book Clubs</h2>
            <ul class="list-group border border-3 border-light rounded shadow-lg">
                {{#each booksPosts as |bookPost|}}
                <li class="list-group-item list-bg text-white border-white">
                    {{> book-info bookPost }}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>    
</div>
