 <div style="height: 550px">   
  <a href="/signup" class="text-dark h4 text-decoration-underline text-nowrap">Not a member? Sign Up here!
  <img src="/images/bookcoffee.jpg" class="w-75 h-100 rounded">
  </a>
</div>   