
<div class="d-flex justify-content-center p-2 m-5">
    <form class="login-form border border-3 border-light rounded p-4 shadow-lg">
        <h3 class="mb-3">Sign in!</h3>
        <div class="input-group mb-3">
            <label class="input-group-text" for="email-login">Email</label>
            <input type="text" id="email-login" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div class="input-group mb-3">
            <label class="input-group-text" for="password-login">Password</label>
            <input type="text" id="password-login" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div>
            <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
        </div>

    </form>
</div>

<div class="d-flex justify-content-center p-2 m-5">
    <form class="signup-form border border-3 border-light rounded p-4 shadow-lg">
        <h3 class="mb-3">Sign up!</h3>
        <div class="input-group mb-3">
            <label class="input-group-text" for="username-signup">Username</label>
            <input type="text" id="username-signup" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="city-signup">City</label>
            <select class="form-select " id="city-signup">
                <option selected> Choose your city</option>
                <option value="1">Ottawa</option>
                <option value="2">Toronto</option>
                <option value="3">Windsor</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="email-signup">Email</label>
            <input type="text" id="email-signup" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="password-signup">Password</label>
            <input type="text" id="password-signup" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div>
            <input class="btn btn-secondary" type="submit" value="Submit">
        </div>

    </form>
</div>

<script src="/javascript/login.js"></script>