
<div class="d-flex justify-content-center p-2 m-5">
    <form class="border border-3 border-light rounded p-4 shadow-lg">
        <h3 class="mb-3">Sign in!</h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="email-login">Email</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="password-login">Password</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div>
            <input class="btn btn-secondary" type="submit" value="Submit">
        </div>

    </form>
</div>

<div class="d-flex justify-content-center p-2 m-5">
    <form class="border border-3 border-light rounded p-4 shadow-lg">
        <h3 class="mb-3">Sign up!</h3>
        <div class="input-group mb-3">
            <span class="input-group-text" id="username-signup">Username</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">City</span>
            <select class="form-select " aria-label="Default select example">
                <option selected> Choose your city</option>
                <option value="1">Ottawa</option>
                <option value="2">Toronto</option>
                <option value="3">Windsor</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email-signup">Email</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="password-signup">Password</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div>
            <input class="btn btn-secondary" type="submit" value="Submit">
        </div>

    </form>
</div>

<script src="/javascript/login.js"></script>