 {{!-- nav bar --}}
  <header>
       <section class="hero dark is-fullheight custom-font">
        <div class="hero-head">
          <nav class="navbar is-primary is-fixed-top">
            <div class="is-flex is-justify-content-space-between w-full px-1 py-3 dark">
              <div class="navbar-brand">
                  <p class="title has-text-primary" id="header">Book&Beans</p>
              </div>
              <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-menu is-size-6" id="nav-links">
                        <div class="navbar-end">
                              <a href ="#about-us" class="navbar-item">About Us</a>
                            <a href="#book-clubs" class="navbar-item">Book Clubs</a>
                            <a href="#coffee-shops" class="navbar-item">Coffee Shops</a>
                        </div>
                    </div>
                  </span>
                </div>
              </div>
              <span class="navbar-burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
          </nav>
        </div>
        </section>
        </header>

        {{!-- signup/login --}}

{{!-- sign up --}}
<form action="action_page.php">
  <div class="container" id="sign-in">
    <h1>Sign Up</h1>
    <p>Sign Up Here!</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Create Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="submit">
      <button type="button" class="xbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

        {{!-- header end, sections start --}}

<div id="about-us" class="pt-6">
    <section class="block py-6 custom-font">
        <div class="column is-4 mx-auto">
            <h2 data-aos="fade-out" class="title has-text-centered is-uppercase">
                About Us
            </h2>
        <div class="title-underline"></div>
    </div>

        <div class="columns mx-0">
            <div class="column is-5 m-auto p-6">
            <p data-aos="fade-up">something nice goes here</p>
    </div>
    {{!-- <figure data-aos="fade-down" class="image p-6 m-auto column is-5"> --}}
  </div>
</section>
</div>

<div id="book-clubs" class="pt-6">
    <section class="block py-6 custom-font">
        <div class="column is-4 mx-auto">
            <h2 data-aos="fade-out" class="title has-text-centered is-uppercase">
                Book Clubs
            </h2>
        <div class="title-underline"></div>
    </div>

        <div class="columns mx-0">
            <div class="column is-5 m-auto p-6">
            <p data-aos="fade-up">something nice goes here</p>
    </div>
    {{!-- <figure data-aos="fade-down" class="image p-6 m-auto column is-5"> --}}
  </div>
</section>
</div>

<div id="coffee-shops" class="pt-6">
    <section class="block py-6 custom-font">
        <div class="column is-4 mx-auto">
            <h2 data-aos="fade-out" class="title has-text-centered is-uppercase">
                Coffee Shops
            </h2>
        <div class="title-underline"></div>
    </div>

        <div class="columns mx-0">
            <div class="column is-5 m-auto p-6">
            <p data-aos="fade-up">something nice goes here</p>
        </div>
            {{!-- <figure data-aos="fade-down" class="image p-6 m-auto column is-5"> --}}
        </div>
    </section>
</div>

<footer></footer>