{{> coffee-info coffeePost }}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>  
    </div>
</form>
{{/if}}

{{> comments coffeePost.coffeecomments}}

{{#if loggedIn}}
<script src="/javascript/cafe-comment.js"></script>
{{/if}}