
body {
    background-color: #d9ad7c;
    opacity: 0.5;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h6 {
    padding-left: 150px;
}

.text {
    text-decoration: none;
    color: black;
    cursor: default;
    pointer-events: none;   
}

.list-bg {
    background-color: #1a0d00;
}

li:hover {

    background-color:#090500 ;
}

.addCoffee {
    margin-left: 50px;
    font-size: 25px;
}

.coffeeList {
    margin-left: 50px;
}