/* my colors
#808000
#EDEADE
#8A9A5B
#EADDCA
#C2B280
#6F4E37
 */
 box/* entire code */
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     background-color: #EDEADE;
 }

 .header {
     padding: 23px;
     background-color: #6F4E37;
     color: #EADDCA;
 }

 #header {
     display: inline-block;
     font-size: 40px;
     font-family: 'Amaranth', sans-serif;
 }

 .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

#about-us {
    background-color: #8f8f34;
    color: #EADDCA;
}

#book-clubs {
    background-color: #8f8f34;
    color: #EADDCA;
}


#coffee-shops {
    background-color: #8f8f34;
    color: #EADDCA;
}

.footer{
    padding: 23px;
    font-family: fantasy;
    background-color: #6F4E37;
    color: #EADDCA;
}
.footer h1 {
    display: inline-block;
    font-size: 16px;
}