
body {
    background-color: #d9ad7c;
    opacity: 0.5;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h6 {
    padding-left: 150px;
}

.text {
    text-decoration: none;
    color: black;
    cursor: default;
    pointer-events: none;   
}

.list-bg {
    background-color: #090500;
}


.addCoffee {
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.cafeName {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.0;
    margin-bottom: 20px;
}

.cafeAdress {
    font-size: 17px;
    font-weight: normal;
    line-height: 2.0;
}

.coffeeList {
    margin-bottom: 30px;
}

button {
    margin-left: 100px;
}

.button {
    margin-top: 20px;
}